<html>
<head>
	<title>
	RSS feed
	</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
</head>
<body>
	<div class="main-container">
		<div class="menu">
			<h4>{{ feed.title }}</h4>	
			<a href="/" class="btn">Back to main</a>
			<form method="post" action="/feed/{{ feed_id }}">
				<a href="{{ feed.link }}"></a>
				<input class="btn w--100" type="submit" value="Refresh">
			</form>
		</div>
		<div class="feed">
			{% for post in posts %}
			<div class="post">
				<div class="post__heading">
					<h2 class="post__title">{{ post.title }}</h2>
					<p class="right"> {{ post.published | format_time }} </p>
				</div>
				<p class="post__content">{{ post.summary | safe }}</p>
			</div>
			{% endfor %}
			<div class="pagination">
			{% for n in range(1, pages_count + 1) %}
	    		{% if n == page %}
	        		{{ n }}
	    		{% else %}
	        		<a href="/feed/{{ feed_id }}?page={{ n }}">{{ n }}</a>
	    		{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>